
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="jumbotron">
    <h2>Sobre</h2>

    <h3>Detalhes</h3>
    <div> 
        <span>Esse site foi desenvolvido para a materia de Trabalho de conclusão de curso (TCC) da pós graduação em <b>Desenvolvimento de Aplicações Web</b> da PUC-MINAS no ano de 2016/2017</span>
        <br /><br />
        <span>A documentação do projeto pedido na materia foi especificado nesse documento <a href="https://drive.google.com/drive/folders/0B5NIdsnXBHH6OHBUc1NqU3dUMWc?usp=sharing" target="_blank">LINK</a></span>
    </div>
    <br />
    <h3>Sobre o autor</h3>
    <div>
        <span>Me chamo Leandro Luiz de Souza, Trabalho com Analise e desenvolvimento de sistemas há mais de 19 anos. Formado em Gestão de tecnologia da informação pela UNIBH em 2012</span>
        <br /><br /><span>para saber mais da minha historia profissional acesso meu Linkedin</span>
        <br /><span><a href="https://www.linkedin.com/in/leandro-souza-b97a878/" target="_blank"><img src="~/Imagens/linkedin.png" style="width:50px; height:50px" /></a></span>
    </div>
   
</div>


