
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sobre</h2>
Esse site foi desenvolvido para a materia de Trabalho de conlusão de curso (TCC) da pós graduação em <b>Desenvolvimento de Aplicações Web</b> da PUC-MINAS no ano de 2017

o projeto pedido na materia foi especificado nesse documento LINK



