@model CONSULTAS

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
       Visualizar
    </button>
    <div class="collapse" id="collapseExample">
        <div class="form-group">
            <span class="control-label col-md-2"> ANAMNESE</span>
            <div class="col-md-10">
                <ul class="list-group">
                    @foreach (var item in Model.ANAMNESE)
                    {
                        <li class="list-group-item">
                            <span> @item.DESCRICAO</span>
                        </li>
                            }
                </ul>
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2"> Exames</span>
            <div class="col-md-10">
                <ul class="list-group">
                    @foreach (var item in Model.EXAMES_SOLICITADOS)
                    {
                        <li class="list-group-item">
                            <span> @item.EXAMES.DESCRICAO</span> -
                            <span> [@item.OBSERVACOES]</span>
                            @foreach (var item2 in item.EXAME_RESULTADO)
                            {
                                <div> Resultado: @item2.DESCRICAO</div>
                            }
                        </li>
                    }
                    </ul>
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2"> Receita</span>
            <div class="col-md-10">
                <ul class="list-group">
                    @foreach (var item in Model.RECEITAS)
                    {
                        <li class="list-group-item">
                            <span> @item.MEDICAMENTOS.NOME_GENERICO [@item.MEDICAMENTOS.FABRICANTE]</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
