@model List<EXAMES>
    <div class="panel panel-primary" style="height: 150px; overflow-y: scroll;">
        <table class="table  table-bordered">
            <tr style="background-color:#d1d1d1;font-weight: bold;">
                <td style="min-width: 30px; max-width: 30px">
                </td>
                <td>DESCRIÇÃO</td>
            </tr>
            @if (Model.Count > 0)
            { 
            foreach (var item in Model)
            {
            <tr>
                <td>
                   @Html.CheckBox("IDEXAMES", false, new { @class = "", @value = @item.ID })
                </td>
                <td>
                    @item.DESCRICAO
                </td>
            </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">
                        <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;NÃO EXISTEM EXAMES CADASTRADOS</div>
                    </td>
               </tr>
                    }
</table>
        </div>
  
            
