@model List<EXAMES_SOLICITADOS>
<div class="panel panel-primary" style="height: 200px; overflow-y: scroll;">
    <table class="table  table-bordered">
        <tr style="background-color:#d1d1d1;font-weight: bold;">
            <td>DESCRICAO</td>
            <td>DATA</td>
            <td>RESULTADO</td>
        </tr>
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.EXAMES.DESCRICAO
                    </td>
                    <td>
                        @foreach (var item2 in item.EXAME_RESULTADO)
                        {
                            <span>@item2.DATA_CRIACAO.ToString("dd/MM/yyyy") - @item2.DATA_CRIACAO.ToString("HH:mm")</span>
                        }
                    </td>
                    <td>
                        @foreach(var item2 in item.EXAME_RESULTADO)
                        {
                            <span>@item2.DESCRICAO</span>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">
                    <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;NÃO EXISTEM EXAMES CADASTRADOS</div>
                </td>
            </tr>
        }
    </table>
</div>


