
@{
    ViewBag.Title = "Acesso negado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<div class="jumbotron">
    <h1>

        <img src="~/Imagens/business_users_lock.png" width="100px" height="100px" /> Acesso negado
    </h1><br />
    <h4>
        Você não tem permissão para acessar esta página
    </h4>
</div>
