
@{
    ViewBag.Title = "Execucao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="jumbotron">
    <h2>Execucao</h2>

    <input type="file" id="file" name="file" class="form-control" />
</div>